<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam.isi.frsf.utn.edu.ar.laboratorio04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListaDepartamentosActivity" />
        <activity android:name=".AltaReservaActivity" />
        <activity android:name=".ListaReservasActivity" />
        <activity android:name=".ConfigUsuarioActivity" />
        <receiver
            android:name=".utils.AlarmReceiver">
            <intent-filter>
                <action android:name="dam.isi.frsf.utn.edu.ar.laboratorio04.Notificacion"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.DivisibleTresReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="dam.isi.frsf.utn.edu.ar.laboratorio04.ListaReservasActivity.Alarma"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>